.card {
  background: #DC4227;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  margin: auto;
  max-width: 500px;
  padding: 2%;
  text-align: center;
  transition: 0.3s;
  width: 90%,
}
.card:hover {
  box-shadow: 0 16px 24px 0 rgba(0,0,0,0.2)
}

.button {
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%)
}
