.menu {
  position: absolute;
  background: rgba(0,0,0,.6);
  bottom: 0px;
  z-index: 1;
  width: 90%;
  max-width: 350px;
  left: 50%;
  transform: translateX(-50%);
}

.menu ul {
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding:5px 5px 8px;
}

.menu li {
  height: 30px;
}
